.cursor-default-important {
  cursor: default !important;
}
.z-0-important {
  z-index: 0 !important;
}
.z-10-important {
  z-index: 10 !important;
}
.z-20-important {
  z-index: 20 !important;
}
img[alt*="아이콘"] {
  width: 10px;
  height: 10px;
}
